* {
    font-family: 'Comfortaa', cursive;
}

#login-page {
    background-image: linear-gradient(#4077CE, #9143F0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#login-card {
    position: relative;
    top: calc(50vh - 144px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 450px;
    text-align: center;
    background-color: white;
    border-radius: 22px;
}

.login-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
}

.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #4285f4;
    color: white;
}

#loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
}
