
.list-group-item{
    border-color: rgba(106, 106, 243, 0.664);
}

.directory-name{
    color: #9143F0;
    font-size: 25px;
}

h5{
    color: #9143F0; 
    font-size: 15px;
}

.directory-center {
    vertical-align: middle;
}