.my-navbar {
    position: absolute;
    width: 70px;
    height: 100%;
    background-image: linear-gradient(#4077CE, #9143F0);
    transition: 0.5s;
    overflow: hidden;
}

.nav-words {
    color: white !important;
}

.title {
    color: white !important;
    height: 5px;
}

.nav-ul {
    padding-left: 0;
}

/* .my-navbar:hover,
.my-navbar.active {
    width: 200px;
} */

.my-navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.my-navbar ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.my-navbar ul li:hover {
    background: #9143F0
}

.fas {
    color: white;
}

.my-navbar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 8;
    line-height: 60px;
    text-align: left;
    padding-left: 25px;
}

.my-navbar ul li a .icon .fa {
    font-size: 24px;
}

.my-navbar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
